{% extends '_includes/layout.njk' %}
{% import "menu.njk" as menu %}

{% block menu %}
  {{ menu.menu("/about") }}
{% endblock %}

{% block content %}
<h1>The Magyk Word</h1>

<p>
  Magyk is a distributed company, based in the United States, with the goal of creating powerful and
  practical solutions in software, data services, and communication.
</p>

<p>
  Magyk provides websites, databases, and analytics at affordable prices. Magyk Software would like
  to provide tech support to whatever endeavour you are facing.
</p>

<p>
  If we could be of service to you or your organization please contact us.
</p>
{% endblock %}