{% extends '_includes/layout.njk' %}
{% import "menu.njk" as menu %}

{% block menu %}
  {{ menu.menu("/contact") }}
{% endblock %}

{% block content %}
<h1>Contact</h1>

<p>Content</p>
{% endblock %}