{% extends '_includes/layout.njk' %}
{% import "menu.njk" as menu %}

{% block menu %}
  {{ menu.menu("/samples") }}
{% endblock %}

{% block content %}
  <h1>Samples</h1>

  <p>Content</p>
{% endblock %}